# local files
.env

# volume used by the docker-compose
data/movies
data/watch
data/downloads
data/series
data/config
data/config/secrets
!data/config/etc/nginx/*
!data/config/etc/nginx/cinebox/favicon.ico
!data/config/etc/nginx/cinebox/index.html
!data/config/etc/nginx/cinebox/style.css

