# Jellyfin - 8096
# Transmission - 9091
# Medusa - 8081
# Radar - 7878
# Bazarr - 6767
# Jacket - 9117
#

secrets:
  openvpn_user:
    file: ./data/config/secrets/openvpn_user.cred
  openvpn_password:
    file: ./data/config/secrets/openvpn_password.cred

volumes:
  secrets:
  gluetun:
  nginx:
  jellyfin:
  transmission:
  radarr:
  jacket:
  medusa:
  bazarr:
  ${MEDIA_LOCATION}:
    external: true

networks:
  REVERSE_PROXY:
    external: true
  net: #external / internet
    driver: bridge
    ipam:
     driver: default
     config:
       - subnet: "${PROJECT_SUBNET}"
    driver_opts:
      com.docker.network.bridge.name: cinebox_net

services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    restart: "unless-stopped"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${PROJECT}.rule=Host(`${PROJECT_FQDN}`)"
      - "traefik.http.routers.${PROJECT}.entrypoints=${PROJECT_ENTRYPOINT}"
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8580:80/tcp
      - 8096:8096/tcp
      - 1900:1900
    volumes:
      - gluetun:/gluetun
    environment:
    # See https://github.com/qdm12/gluetun/wiki
    # Openvpn
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=${VPN_TYPE}
      - SERVER_COUNTRIES=${SERVER_COUNTRIES}
    # Healthcheck
      - HEALTH_VPN_DURATION_ADDITION=${HEALTH_VPN_DURATION_ADDITION:-30s}
    # Updater
      - UPDATER_PERIOD=${UPDATER_PERIOD:-8h}
    # Firewall
      - FIREWALL_DEBUG=${FIREWALL_DEBUG:-off}
    # DNS options
      - DOT=${DOT}
      - DOT_PROVIDERS=${DOT_PROVIDERS}
      - DNS_KEEP_NAMESERVER=${DNS_KEEP_NAMESERVER}
      - BLOCK_MALICIOUS=${BLOCK_MALICIOUS:-on}
      - BLOCK_SURVEILLANCE=${BLOCK_SURVEILLANCE:-on}
      - BLOCK_ADS=${BLOCK_ADS:-on}
    # Other
      - HTTP_CONTROL_SERVER_AUTH_CONFIG_FILEPATH=${HTTP_CONTROL_SERVER_AUTH_CONFIG_FILEPATH:-/gluetun/config.toml}
      - PUBLICIP_ENABLED=${PUBLICIP_ENABLED}
      - PUBLICIP_API=${PUBLICIP_API}
      - PUBLICIP_API_TOKEN=${PUBLICIP_API_TOKEN}
      - TZ=${TZ:-Europe/Amsterdam}
    secrets:
      - source: openvpn_user
      - source: openvpn_password
    networks:
      - net
      - REVERSE_PROXY

  debug: #1234
    container_name: debug
    build: ./test
    network_mode: "service:gluetun"
    restart: "no"
    stdin_open: true
    tty: true
    profiles:
    - debug

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    restart: "unless-stopped"
    network_mode: "service:gluetun"
    depends_on:
      - "gluetun"
    environment:
      - TZ=Europe/Amsterdam
      - SERVERNAME=${PROJECT_FQDN}
    volumes:
      - type: volume
        source: nginx
        target: /usr/share/nginx/html
        volume:
          subpath: cinebox
      - type: volume
        source: nginx
        target: /etc/nginx/templates
        volume:
          subpath: templates
      - type: volume
        source: nginx
        target: /var/log/nginx
        volume:
          subpath: log

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    restart: "unless-stopped"
    network_mode: "service:gluetun"
    environment:
      - TZ=${TZ:-Europe/Amsterdam}
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
    depends_on:
      - "nginx"
    volumes:
      - "jellyfin:/config"
      - type: volume
        source: "${MEDIA_LOCATION}"
        target: /data/tvshows
        volume:
          subpath: series
      - type: volume
        source: "${MEDIA_LOCATION}"
        target: /data/movies
        volume:
          subpath: movies

  transmission:
    container_name: transmission
    image: linuxserver/transmission:latest
    restart: "unless-stopped"
    network_mode: "service:gluetun"
    stdin_open: true
    tty: true
    environment:
      - TZ=${TZ:-Europe/Amsterdam}
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
    depends_on:
      - "gluetun"
    volumes:
      - "transmission:/config"
      - "${MEDIA_LOCATION}:/media"

  radarr:
    container_name: radarr
    image: "linuxserver/radarr:latest"
    restart: "unless-stopped"
    depends_on:
      - gluetun
      - transmission
    environment:
      - TZ=Europe/Amsterdam
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - UMASK_SET=022
    network_mode: "service:gluetun"
    stdin_open: true
    tty: true
    volumes:
      - "radarr:/config"
      - "${MEDIA_LOCATION}:/media"

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    restart: "unless-stopped"
    network_mode: "service:gluetun"
    environment:
      - TZ=${TZ:-Europe/Amsterdam}
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - AUTO_UPDATE=true
    depends_on:
      - gluetun
    volumes:
      - "jacket:/config"
      - type: volume
        source: "${MEDIA_LOCATION}"
        target: /downloads
        volume:
          subpath: "downloads/blackhole"

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: "unless-stopped"
    depends_on:
      - jackett
    network_mode: "service:gluetun"
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-debug}
      - LOG_HTML=${LOG_HTML:-false}
      - TZ=${TZ:-Europe/Amsterdam}

  medusa:
    image: pymedusa/medusa
    container_name: medusa
    restart: "unless-stopped"
    network_mode: "service:gluetun"
    environment:
      - TZ=${TZ:-Europe/Amsterdam}
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
    depends_on:
      - gluetun
      - transmission
    volumes:
      - "medusa:/config"
      - "${MEDIA_LOCATION}:/media"

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: "unless-stopped"
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
      - radarr
    environment:
      - TZ=${TZ:-Europe/Amsterdam}
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
    volumes:
      - "bazarr:/config"
      - "${MEDIA_LOCATION}:/media"
