server {
    listen       127.0.0.1:8088 default_server;
    server_name  ${SERVERNAME} localhost;

    root   /usr/share/nginx/html;
    index  index.html;

    access_log  /var/log/nginx/host.access.log;
    error_log   /var/log/nginx/host.error.log  error;

    gzip on;
    gzip_vary on;
    gzip_min_length 1000;
    gzip_proxied any;
    gzip_types text/plain text/css text/xml application/xml text/javascript application/x-javascript image/svg+xml;
    gzip_disable "MSIE [1-6]\.";

    # Index page
    location = / {
        try_files /index.html =404;
    }

    # Static files of the index page
    location ~ ^/(index\.html|favicon\.ico|style\.css)$ {
        try_files $uri =404;
    }

    # Status page (nginx stub_status)
    location = /status {
        stub_status;
        access_log off;
    }

    # All other paths
    location / {
        return 404;
    }
}
