html, body {
  min-height: 100%;
}

body {
  font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
  color: #404040;
  background: #92c7d6;
  background-image: -webkit-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
  background-image: -moz-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
  background-image: -o-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
  background-image: radial-gradient(top, circle cover, #97d0e1, #427388 80%);
}

.container {
  padding: 10px;
  min-width: 50vw;
  max-width: 300px;
  margin: 0px auto;
  text-align: center;
  
}
.container > .button {
  margin: 0 10px 1px 10px;
}


.subtitle {
    font-size: 0.3em;
    position: absolute;
    bottom: 35%;
    left: 5%;
    text-align: center;
}

.button {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  width: 75%;
  max-width:250px;
  line-height: 11vh;
  padding: 0 24px;
  font-size: 3em;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px #154c86;
  background-color: #247edd;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #1c65b2 #18589c #18589c;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}
.button:before {
  content: '';
  position: absolute;
  top: -25%;
  bottom: -25%;
  left: -20%;
  right: -20%;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
}
.button:hover {
  background-color: #1a74d3;
}
.button:active {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 -1px #154c86;
  background: #1f71c8;
  border-color: #113f70 #154c86 #1c65b2;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  background-image: -webkit-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: -moz-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: -o-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: linear-gradient(to bottom, #1a5da5, #3a8be0);
}
.button:active:before {
  top: -50%;
  bottom: -125%;
  left: -15%;
  right: -15%;
  -webkit-box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
}

.button-green {
  text-shadow: 0 1px #0d4d09;
  background-color: #1ca913;
  border-color: #147b0e #11640b #11640b;
}
.button-green:hover {
  background-color: #159b0d;
}
.button-green:active {
  text-shadow: 0 -1px #0d4d09;
  background: #189210;
  border-color: #093606 #0d4d09 #147b0e;
  background-image: -webkit-linear-gradient(top, #126d0c, #20c016);
  background-image: -moz-linear-gradient(top, #126d0c, #20c016);
  background-image: -o-linear-gradient(top, #126d0c, #20c016);
  background-image: linear-gradient(to bottom, #126d0c, #20c016);
}

.button-orange {
  text-shadow: 0 1px #72100d;
  background-color: #cc7b19;
  border-color: #936328 #724713 #492b08;
}
.button-orange:hover {
  background-color: #e35b10;;
}
.button-orange:active {
  text-shadow: 0 -1px #72100d;
  background: #b61a15;
  border-color: #936328 #724713 #492b08;
  background-image: -webkit-linear-gradient(top, #925411, #e45e1b);
  background-image: -moz-linear-gradient(top, #925411, #e45e1b);
  background-image: -o-linear-gradient(top, #925411, #e45e1b);
  background-image: linear-gradient(to bottom, #925411, #e45e1b);
}

.button-red {
  text-shadow: 0 1px #72100d;
  background-color: #cd1d18;
  border-color: #9f1713 #891310 #891310;
}
.button-red:hover {
  background-color: #c01511;
}
.button-red:active {
  text-shadow: 0 -1px #72100d;
  background: #b61a15;
  border-color: #5b0d0b #72100d #9f1713;
  background-image: -webkit-linear-gradient(top, #921511, #e4201b);
  background-image: -moz-linear-gradient(top, #921511, #e4201b);
  background-image: -o-linear-gradient(top, #921511, #e4201b);
  background-image: linear-gradient(to bottom, #921511, #e4201b);
}

.button-grey {
  text-shadow: 0 1px #2b665e;
  background-color: #768d87;
  border-color: #595959 #4d4d4d #4d4d4d;;
}
.button-grey:hover {
  background-color: #696969;
}
.button-grey:active {
  text-shadow: 0 -1px ##404040;
  background: #666666;
  border-color: #333333 #404040 #595959;
  background-image: -webkit-linear-gradient(top, #525252, #808080);
  background-image: -moz-linear-gradient(top, #525252, #808080);
  background-image: -o-linear-gradient(top, #525252, #808080);
  background-image: linear-gradient(to bottom, #525252, #808080);
}
input[type='checkbox'] {
  display: none;
}
.lbl-toggle {
  text-align: center;
  cursor: pointer;
  transition: all 0.25s ease-out;
}


.collapsible-content .content-inner {
  background: rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .45);

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .1rem .2rem;
  margin-top: 2px;
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 20vh;
}


